body {
    background-color: #f4efe9;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: rgb(22, 28, 28);
    font-family:'Times New Roman', Times, serif;
}

h3 {
    text-align: center;
    color: rgb(22, 28, 28);
}

p {
    color: rgb(22, 28, 28);
    text-align: center;
}

#saat {
    white-space: pre-line;
    text-align: center;
    border: 2px solid #333;
    border-radius: 12px;
    padding: 30px 50px;
    width: fit-content;
    margin: 40px auto;
    font-size: 48px;
}

.button {
    background-color: #333333;
    color: white;
    display: block;
    width: fit-content;
    text-decoration: none;
    margin: 40px auto;
    padding: 20px 20px;
    border: 20px solid #333;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.button:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
    transform: translateY(-5px);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #333333;
  display: flex;
}

ul li a {
  display: block;
  color: white;
  padding: 16px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}

.baslik {
  margin-left: auto;
  display: block;
  color: white;
  padding: 16px 16px;
  text-decoration: none;
}

.dropbtn {
  background-color: #333333;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  font-family:'Times New Roman', Times, serif;
}

.submenu {
  position: relative;
  display: inline-block;
}

.submenu-content {
  display: none;
  position: absolute;
  background-color: #333333;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.submenu-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.submenu-content a:hover {background-color: #111111;}

.submenu:hover .submenu-content {display: block;}

.submenu:hover .dropbtn {background-color: #111111;}

footer {
    color: white;
    text-align: center;
    background-color: rgb(24, 24, 24);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}